body{
    background-color: rgba(248, 247, 246, 0);
}
header{
    background-color: rgb(11, 56, 139);
    color: aliceblue;
    max-width: 100%;
    text-align: center;
    height: 100px;
    margin:10px;
    padding:5px;

}
header a{
    color:white;
}


#about{
    text-align: center;
}
footer{
    max-width: 100%;
    height:50px;
}
a{
    text-decoration: none;
    padding-left: 15px;
    padding-right:15px;
}
.image{
    text-align: center;
   
}
.box{
    max-width:500px ;
    height:180px;
    margin: 20px auto ;
    
    padding: 10px;
    border:2px solid black;
    text-align: center;
}
#projects{
    text-align: center;
}
table{
    table-layout: auto;
    border-collapse: collapse ;
    border: 2px solid black;
    margin: auto ;
}
th,td{
    padding:10px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}
th{
    background-color: cornflowerblue;
    color: white;
}
h2,p{text-align: center;}
.btn{
    background-color: darkolivegreen;
    color:azure;
    width:100px;
    height:40px;
    text-align: center;

    
}
.last{
    height:18px;
    background-color: rgb(11, 56, 139);
}